<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>EXAM SCHEDULING</title>
</head>
<body style="background-color: #eeeeee;">
        <!-- Top menu on small screens -->
                <header class="w3-container w3-top w3-white w3-large w3-padding-16">
                            <span class="w3-left w3-padding">ADMIN LOGIN FAILED</span>
                </header>
                
          
              <br><br><br><br><br>
              <center>
                      <p>Login Failed!Enter valid username and password</p>
              </center>
</body>
</html>