<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Exam Scheduling</title>
</head>
<body style="background-color: #eeeeee;">
       
            <!-- Sidebar/menu -->
                   <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-medium" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
                    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-small">CLOSE</a> 
                    <a href="http://localhost:3000/admin_side"  class="w3-bar-item w3-button w3-center w3-padding-small">Admin Page</a>
                    <a href="http://localhost:3000/complete_list"  class="w3-bar-item w3-button w3-center w3-padding-small">Complete List</a>   
                </nav>
              
                  <!-- Top menu on small screens -->
                <header class="w3-container w3-top w3-white w3-large w3-padding-16">
                          <span class="w3-left w3-padding">TEACHER ALLOTMENT</span>
                          <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
                </header>
              
        
            <br><br><br><br><br>

       <center>
        <form  action='/register3' name="teacher_allotment" id="teacher_allotment"  method="POST">

            <label for="Room_no">Room number&nbsp;</label>
            <input type="text" name="room_no" class="form(TA)" placeholder="Enter the Room number" required autocomplete="on">
            <br><br>
    
            <label for="Teacher_id">Teacher ID&nbsp;</label>
            <input type="text" name="teacher_id" class="form(TA)" placeholder="Enter the teacher_id" required autocomplete="on">
            <br><br>
    
            <label for="dept_id">Department Number&nbsp;</label>
            <input type="text" name="dept_id" class="form(TT)" placeholder="Enter the dept_number" required autocomplete="on">
            <br><br>
    
            <label for="exam_date">Exam Date&nbsp;</label>
            <input type="date" name="exam_date" class="form(TA)" required autocomplete="on">
            <br><br>
    
            <label for="exam_time">Exam Time</label>
            <select name="exam_time" id="exam_time" class="form(TA)" required autocomplete="on">
                  <option value="9-30 AM - 12-30 PM">9-30 AM - 12-30 PM</option>
                  <option value="2-00 PM - 5-00 PM">2-00 PM - 5-00 PM</option>
            </select>  
            <br><br>    
    
            <button type="submit" >Submit</button> 
    
            <br><br>
    
    
           </form> 
       </center>


</body>
</html>

<script>
    // Script to open and close sidebar
    function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>