<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Scheduling</title>
    <style>
        h1{
            margin: 0;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h3{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body style="background-color: #eeeeee;">
    <div style="background-color: white;">
        <h1 style="color: black">Error -- Data Not Inserted!</h1>
    </div>
       
    <div>
        <h3>Error number - <%= errno %></h3>
        <h3>Error - <%= error %> </h3>
    </div>

</body>
</html>

